[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "kernel"
path = "main.rs"
test = false
bench = false

[dependencies]
spin = { workspace = true }
utils = { path = "../utils" }

[profile.dev]
opt-level = 3
